.row #list-wrap .restaurantDetailsAndForm .restaurantDetails .showComment, .container-fluid #list-wrap .restaurantDetailsAndForm .restaurantDetails .showComment {
  font-size: 13px;
  margin-bottom: 5px; }

.row #list-wrap #listOfRestaurants .boxRestaurant .restoName, .container-fluid #list-wrap #listOfRestaurants .boxRestaurant .restoName, .row #list-wrap #listOfRestaurants .boxRestaurant p, .container-fluid #list-wrap #listOfRestaurants .boxRestaurant p, .row #list-wrap .restaurantDetailsAndForm .restaurantDetails h6, .container-fluid #list-wrap .restaurantDetailsAndForm .restaurantDetails h6 {
  font-size: 15px;
  margin-bottom: 5px; }

.row #list-wrap #listOfRestaurants #form-addNewPlace textarea, .container-fluid #list-wrap #listOfRestaurants #form-addNewPlace textarea, .row #list-wrap .restaurantDetailsAndForm .addNewRating textarea, .container-fluid #list-wrap .restaurantDetailsAndForm .addNewRating textarea {
  width: 100%;
  height: 150px;
  border-style: unset;
  border-radius: .25rem; }

html, body {
  height: 100%;
  margin: 0;
  padding: 0; }

header {
  display: flex;
  justify-content: center;
  margin: 3px; }
  header .siteName {
    color: #6b717f;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: "Raleway", sans-serif; }
  header span {
    color: #e7711b;
    font-weight: bolder; }
  header img {
    height: 69px; }

.row, .container-fluid {
  height: 100%;
  width: 100%; }
  .row #floating-panel, .container-fluid #floating-panel {
    position: absolute;
    left: 31%;
    z-index: 5;
    background-color: #f5f5f5;
    padding: 5px;
    text-align: center;
    font-family: "Raleway", sans-serif;
    line-height: 30px;
    padding-left: 10px; }
  .row #map, .container-fluid #map {
    height: 100%;
    width: 100%; }
  .row .starsOuter, .container-fluid .starsOuter {
    position: relative;
    display: inline-block;
    font-size: 0.7rem; }
  .row .starsInner, .container-fluid .starsInner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0; }
  .row .starsOuter::before, .container-fluid .starsOuter::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #ccc; }
  .row .starsInner::before, .container-fluid .starsInner::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #e7711b; }
  .row #list-wrap, .container-fluid #list-wrap {
    height: 100%;
    overflow: scroll;
    margin-left: 0px;
    margin-top: 5px; }
    .row #list-wrap #sort-option, .container-fluid #list-wrap #sort-option {
      margin-bottom: 30px;
      padding: 10px 0;
      text-align: center; }
      .row #list-wrap #sort-option #sortMinStars, .container-fluid #list-wrap #sort-option #sortMinStars {
        margin-right: 20px; }
    .row #list-wrap #listOfRestaurants .boxRestaurant p, .container-fluid #list-wrap #listOfRestaurants .boxRestaurant p {
      border-bottom: 0.5px solid #c6d4df; }
    .row #list-wrap #listOfRestaurants .boxRestaurant .numberRating, .container-fluid #list-wrap #listOfRestaurants .boxRestaurant .numberRating {
      font-size: 13px;
      margin-left: 5px; }
    .row #list-wrap #listOfRestaurants #form-addNewPlace #addNewPlaceTitle, .container-fluid #list-wrap #listOfRestaurants #form-addNewPlace #addNewPlaceTitle {
      color: #e7711b;
      margin-bottom: 10px;
      margin-top: 20px;
      text-align: center; }
    .row #list-wrap #listOfRestaurants #form-addNewPlace .form-control, .container-fluid #list-wrap #listOfRestaurants #form-addNewPlace .form-control {
      margin-bottom: 10px; }
    .row #list-wrap #listOfRestaurants #form-addNewPlace #labelRatingOptions, .container-fluid #list-wrap #listOfRestaurants #form-addNewPlace #labelRatingOptions {
      margin-right: 8px; }
    .row #list-wrap #listOfRestaurants #form-addNewPlace .form-footer #newPlaceButtons, .container-fluid #list-wrap #listOfRestaurants #form-addNewPlace .form-footer #newPlaceButtons {
      display: flex;
      width: 100%;
      justify-content: space-evenly; }
    .row #list-wrap #listOfRestaurants .listRestaurant :hover, .container-fluid #list-wrap #listOfRestaurants .listRestaurant :hover {
      cursor: pointer; }
    .row #list-wrap .buttonReturnAndNewReview, .container-fluid #list-wrap .buttonReturnAndNewReview {
      display: flex;
      width: 100%;
      justify-content: space-between;
      margin-left: 10px; }
      .row #list-wrap .buttonReturnAndNewReview .btn, .container-fluid #list-wrap .buttonReturnAndNewReview .btn {
        padding-bottom: 1px;
        padding-top: 1px;
        font-size: 13px;
        margin-bottom: 10px;
        position: static; }
    .row #list-wrap .restaurantDetailsAndForm .restaurantDetails h6, .container-fluid #list-wrap .restaurantDetailsAndForm .restaurantDetails h6 {
      font-weight: bold; }
    .row #list-wrap .restaurantDetailsAndForm .restaurantDetails .numberRating, .container-fluid #list-wrap .restaurantDetailsAndForm .restaurantDetails .numberRating {
      font-size: 13px;
      margin-left: 5px; }
    .row #list-wrap .restaurantDetailsAndForm .addNewRating #title-addComment, .container-fluid #list-wrap .restaurantDetailsAndForm .addNewRating #title-addComment {
      color: #e7711b;
      margin-bottom: 10px;
      text-align: center; }
    .row #list-wrap .restaurantDetailsAndForm .addNewRating .form-footer #buttons, .container-fluid #list-wrap .restaurantDetailsAndForm .addNewRating .form-footer #buttons {
      display: flex;
      width: 100%;
      justify-content: space-evenly; }

/*# sourceMappingURL=style.css.map */
